# --- Configurações do Supabase (Postgres) ---
# Você encontra esses dados no painel do Supabase em Project Settings -> Database
DB_HOST=aws-0-sa-east-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.[SEU_PROJETO]
DB_PASSWORD=[SUA_SENHA_DO_SUPABASE]

# --- Segurança ---
# Uma string aleatória de 32+ caracteres
JWT_SECRET=7a421b7762c2f6d239b6b77242d54e5670851416e8902d689b9d3e8e97f74812

# --- Google Maps API Key ---
GOOGLE_MAPS_API_KEY=
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=

# --- Frontend (Opcional se precisar de envs no build) ---
# NEXT_PUBLIC_API_URL=http://[IP_DA_INSTANCIA]:8080
