# Servidor
SERVER_PORT=8080

# Banco de Dados (Serão configurados no SDGEU-4/5)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=explorae_db
DB_USER=postgres
DB_PASSWORD=postgres


DB_SUPABASE_PASSWORD=db_pass_explorae

NEXT_PUBLIC_SUPABASE_URL=https://tghcscavkszzvycuqfmq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_W3rAde9-eSrgFCM2d4c3Kw_A1mCmwaW